body{
    font-family: 'Poppins', sans-serif;
    margin: 0;
   
}
a{
    text-decoration: none;
}
.flex-containe{
    display: flex;
    margin-bottom: 150px;
}
#banner{
    background: url(images/top-banner.png) no-repeat;
}
#banner .half-part {
    margin-left: 7%;
}
.half-part{
    width: 50%;
}

.half-part img{
    width: 80%;
}
h1{
    font-size: 40px;
    font-weight: 700;
}
h2{
    font-size: 30px;
    font-weight: 600;
}
p{
    text-align: justify;
}
.name{
    color: orange;
}
.link-btn{
    padding: 10px 20px;
    background-image: linear-gradient(45deg, lightsalmon, tomato);
    border-radius: 5px;
}
#big-dream{
    background: url(images/dream-bg.png) no-repeat;
    background-position:  bottom right;
 
}
#big-dream .half-part{
    margin-left: 2%;
    margin-right: 5%;
}
#expariance-part{
    background: url(images/exp-bg.png) no-repeat;

    background-position: bottom left;
}
.expariance-item{
    width: 40%;
    margin-left: 5%;
    margin-right: 5%;
    padding-left: 10px;
    padding-right: 10px;
    box-shadow: 10px 10px 40px gray;
}
#left-item{
    border-left: 4px solid;
    border-image: linear-gradient( lightsalmon, tomato);
    border-image-slice: 1;


}
#right-item{
    border-left: 4px solid;
    border-image: linear-gradient(blue, cyan);
    border-image-slice: 1;
}
footer p {
    text-align: center;
    
}
